<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" defaultHref="/places/tabs/discover"></ion-back-button><!--incase the web app reloaded itself-->
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>
    
<ion-content class="ion-padding">
  <ion-button color="primary"  (click)="onBookPlace()">Book</ion-button>
  <ion-list>
    <ion-item>
      <ion-label *ngIf="showDescription">{{ place.description }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
